body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header,
.footer {
    display: flex;
    background-color: #1f2937;
    color: white;
}

.header {
    justify-content: space-around;
}

#head_logo {
    max-width: 250px;
}

.left-head {
    padding: 0;
}

.right-head {
    align-items: center;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}

.left-banner {
    max-width: 500px;
}

.subtext-1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.subtext-2 {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.signup_button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

#showcase {
    max-width: 500px;
    max-height: 250px;
}

.content {
    margin: auto;
    text-align: center;
}

.footer {
    padding: 16px;
    justify-content: center;
}